mixin pets()

    | <!-- ********** pets-S-1 ********** -->

    .pets.js-animate
        .w-center
            h2.pets__title Our friends who </br>are looking for a house
            +slider
            .pets__btn
                a.btn(href="#") Get to know the rest

    | <!-- ********** pets-S-1 ********** -->