mixin header()

    | <!-- ********** header-S-1 ********** -->

    header.header.js-header
        .w-center
            .header__wrapper.js-header-toggle
                .header__logo
                    a(href="#")
                        .header__title Cozy  House
                        .header__subtitle Shelter for pets in Boston
                .header__burger-menu-wrap.js-header-burger
                    .header__burger-menu
                        span
                        span
                        span
                nav.header__nav
                    .header__nav-wrap
                        .header__navi
                            ul.header__list.header__menu-inner
                                li.header__list-item.header__menu-item
                                    a.header__menu-link.active.header__list-link.js-to-item(href="#shelter") About the shelter
                                li.header__list-item.header__menu-item
                                    a.header__menu-link.header__about-link.header__list-link.js-to-item(href="#pets") Our pets
                                li.header__list-item.header__menu-item
                                    a.header__menu-link.header__vendors-link.header__list-link.js-to-item(href="#help") To help the shelter
                                li.header__list-item.header__menu-item
                                    a.header__menu-link.header__contacts-link.header__list-link.js-to-item(href="#footer") Contacts

    | <!-- ********** header-S-1 ********** -->
