mixin footer()

    | <!-- ********** footer-S-1 ********** -->

    footer#footer.footer
        .w-center
            .footer__wrap
                .footer__wrap-col
                    h2.footer__title For questions </br>and suggestions
                    .footer__contact
                        img(class="lazyload" src="static/img/content/envelope.png" alt="envelope icon")
                        a(href="email@shelter.com") email@shelter.com
                    .footer__contact
                        img(class="lazyload" src="static/img/content/telephone.png" alt="telephone icon")
                        a(href="+13 674 567 75 54") +13 674 567 75 54
                .footer__wrap-col
                    h2.footer__title We are waiting </br>for your visit
                    .footer__contact.footer__location
                        img(class="lazyload" src="static/img/content/pin.png" alt="pin icon")
                        span Boston, Central Street, 1st </br>(Entrance from the store)
                    .footer__contact.footer__location
                        img(class="lazyload" src="static/img/content/pin.png" alt="pin icon")
                        span London, South Park, 18st

    | <!-- ********** footer-S-1 ********** -->