mixin donation()

    | <!-- ********** donation-S-1 ********** -->

    .donation
        .w-center
            .donation__wrap.js-animate
                .donation__image
                    img(class="lazyload" src="static/img/content/dog.png" alt="dog image")
                .donation__text
                    h2.donation__title In addition, you </br>can make a donation
                    p.donation__subtitle Name of the bank / Type of bank account
                    .donation__card
                        .donation__card-icon
                            img(class="lazyload" src="static/img/content/card.png" alt="card image")
                        .donation__card-number 8380 2880 8028 8791 7435
                    span.donation__txt Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.

    | <!-- ********** donation-S-1 ********** -->